*,
*::before,
*::after {
box-sizing: border-box;
font-family: Gotham Rounded, sans-serif;
font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #9BF6FF, #FFC6FF);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media screen and (max-width: 786px){
  body {
   background: white;
   display: flex;
   width: auto;
   align-items: center;
   justify-content: center;
   overflow: hidden;
  }
} media query end */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
